dontaudit priv_app device:dir read;
dontaudit priv_app proc_interrupts:file read;
get_prop(priv_app, opslider_prop)
set_prop(priv_app, opslider_prop)
